@import "tailwindcss";

body {
    @apply container px-8 mx-auto bg-white dark:bg-gray-950 dark:text-white
}

.form-group {
    @apply relative z-0 w-full mb-5
}

.form-group > input {
    @apply block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent
    border-0 border-b-2 border-gray-300 appearance-none dark:text-white
    dark:border-gray-600 dark:focus:border-orange-500 focus:outline-none
    focus:ring-0 focus:border-orange-600
}

.form-group > label {
    @apply peer-focus:font-medium absolute text-sm text-gray-500
    dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3
    -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4
    rtl:peer-focus:left-auto peer-focus:text-orange-600
    peer-focus:dark:text-orange-500 peer-placeholder-shown:scale-100
    peer-placeholder-shown:translate-y-0 peer-focus:scale-75
    peer-focus:-translate-y-6
}

.submit-button {
    @apply text-white bg-orange-700 hover:bg-orange-800 focus:ring-4
    focus:outline-none focus:ring-orange-300 font-medium rounded-lg
    text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-orange-600
    dark:hover:bg-orange-700 dark:focus:ring-orange-800 mx-auto block
}

.grow-input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm
    rounded-lg focus:ring-orange-500 focus:border-orange-500 p-2.5
    dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
    dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500
    focus-visible:outline-none focus-visible:outline-orange-500 grow block
}

.previous-button {
    @apply flex items-center justify-center px-3 h-8 me-3 text-sm font-medium
    text-gray-500 bg-white border border-gray-300 rounded-lg
    hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800
    dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700
    dark:hover:text-white
}

.next-button {
    @apply flex items-center justify-center px-3 h-8 text-sm font-medium
    text-gray-500 bg-white border border-gray-300 rounded-lg
    hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800
    dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700
    dark:hover:text-white
}

.disabled {
    @apply bg-gray-200 text-gray-500 hover:bg-gray-200 hover:text-gray-500
}